.player {
  position: absolute;
  box-sizing: border-box;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  -webkit-box-shadow: 0px 0px 95px 89px rgba(23, 29, 227, 0.2);
  -moz-box-shadow: 0px 0px 95px 89px rgba(23, 29, 227, 0.2);
  box-shadow: 0px 0px 95px 89px rgba(23, 29, 227, 0.2);
  border-radius: 20px;
  border: 1px solid darkblue;

  @media screen and (max-width: 767px) {
    width: 95vw;
    height: 95dvh;
  }

  &__equalizer {
    width: 98%;
    height: 50px;
  }

  &__playlist {
    display: flex;
    flex-direction: column;
    max-width: 94%;
    align-self: flex-start;
  }

  &__track {
    color: lightblue;
    transition: color 0.2s linear;
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    i {
      width: 25px;
    }

    &:hover {
      color: white;
    }

    &_active {
      color: darkred;

      i {
        color: orange;
      }
    }
  }

  &__button {
    position: absolute;
    top: 15px;
    width: 70px;
    height: 70px;
    background-color: transparent;
    padding: 0;
    border: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;

    &_pause {
      right: 20px;
      background-image: url("../img/pause.png");
    }

    &_play {
      left: 20px;
      background-image: url("../img/play.png");
    }

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.5;
    }
  }

  &__volume {
    position: absolute;
    width: 150px;
    transform: rotate(-90deg);
    right: -40px;
    top: 90px;
    cursor: pointer;

    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  &__volume-icon {
    position: absolute;
    right: 23px;
    top: 180px;
    color: white;

    i {
      color: inherit;
    }

    @media screen and (max-width: 767px) {
      display: none;
    }
  }
}
